<% data %>
<p class="h1">Ejercicio 2: Realiza un programa, el usuario puede introducir una cadena de caracteres y le
    mostraras de salida cuántos números existen en la cadena.
</p>

<form action="/api/prueba-tecnica/validar-ejercicio-2" method="POST" novalidate>
    <div class="mb-3">
      <label for="entrada" class="form-label">Ingrese una cadena</label>
      <input type="text" class="form-control" id="entrada" aria-describedby="emailHelp" name="entrada" required>
    </div>
    <button type="submit" class="btn btn-primary">Validar</button>
  </form>