<% data %>
<div class="row">
    <div class="col-lg-6 offset-lg-3 mt-5">
      <div class="card shadow-lg mt-5">
        <div class="card-body">
          <img src="/img/img-error-404.jpg" class="img-fluid">
          <p class="h1 text-center text-title">
            Lo sentimos &#128543;.
          </p>
        </div>
      </div>
    </div>
  </div>