<div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="mi-offcanvas"
  aria-labelledby="offcanvasWithBothOptionsLabel">
  <div class="offcanvas-header">
    <span class="offcanvas-title h5 offset-3" id="offcanvasWithBothOptionsLabel">Menu de Ejercicios</span>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div class="list-group text-center">
      <a href="/api/prueba-tecnica/home" class="list-group-item list-group-item-action">Home</a>
      <a href="/api/prueba-tecnica/ejercicio-1" class="list-group-item list-group-item-action">Ejercicio 1</a>
      <a href="/api/prueba-tecnica/ejercicio-2" class="list-group-item list-group-item-action">Ejercicio 2</a>
      <a href="/api/prueba-tecnica/crud" class="list-group-item list-group-item-action">Crud</a>
    </div>
  </div>
</div>

<div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="mi-offcanvas-2"
  aria-labelledby="offcanvasWithBothOptionsLabel">
  <div class="offcanvas-header">
    <span class="offcanvas-title h5 offset-3" id="offcanvasWithBothOptionsLabel">Menu de consultas</span>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div class="list-group text-center">
      <div href="/api/prueba-tecnica/crud" class="list-group-item list-group-item-action">
        <form action="/api/prueba-tecnica/buscar-por-id" method="POST" novalidate>
          <div class="mb-3">
            <label for="entrada" class="form-label">Ingrese el id</label>
            <input type="text" class="form-control" id="entrada" aria-describedby="emailHelp" name="entrada" required>
          </div>
          <button type="submit" class="btn btn-primary">Buscar</button>
        </form>
      </div>
    </div>
  </div>
</div>