<div class="container-fluid">
  <button class="navbar-brand btn btn-outline-light" type="button" data-bs-toggle="offcanvas" data-bs-target="#mi-offcanvas" aria-controls="mi-offcanvas">
    <i class="fa-regular fa-compass fa-xl"></i>
    Navegación
  </button>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mi-nav-bar"
    aria-controls="mi-nav-bar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse ms-3" id="mi-nav-bar">
    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
      <li class="nav-item mt-2">
        <a class="nav-link btn btn-danger" href="/api/prueba-tecnica/descargar-cv">Decargar CV</a>
      </li>
    </ul>
</div>
</div>