<div class="col-12">
    <button class="navbar-brand btn btn-outline-light" type="button" data-bs-toggle="offcanvas" data-bs-target="#mi-offcanvas" aria-controls="mi-offcanvas">
      <i class="fa-regular fa-compass fa-xl"></i>
      Navegación
    </button>
  </div>

<div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="mi-offcanvas"
  aria-labelledby="offcanvasWithBothOptionsLabel">
  <div class="offcanvas-header">
    <span class="offcanvas-title h5 offset-3" id="offcanvasWithBothOptionsLabel">Menu de Ejercicios</span>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div class="list-group text-center">
        <a href="/api/prueba-tecnica/ejercicio-1" class="list-group-item list-group-item-action">Ejercicio 1</a>
        <a href="/api/prueba-tecnica/ejercicio-2" class="list-group-item list-group-item-action">Ejercicio 2</a>
        <a href="/api/prueba-tecnica/crud" class="list-group-item list-group-item-action">Crud</a>
      </div>
  </div>
</div>